@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
    
        
        
        


*{
    /* font-family: Popoins; */
    /* font-family: inter; */
    --primary:#db4444;
}